<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User</title>
  <style>
  .userBox {
    width:380px;
    height: 430px;
    box-shadow: 0 1px 1px rgba(50,50,50,.40);
    background: #fff;
    border-radius:8px;
    margin:50px auto;
    background: #EBEAEE;
  }
  .userPic {
    position:absolute;
    box-shadow: 0 2px 2px rgba(50,50,50,.50);
    width:125px;
    height: 125px;
    border:7px solid #fff;
    border-radius:50%;
    margin:10px;
    margin-left:25px;
    display:inline-block;
    margin-top:-75px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg');
    background-size:cover;
    backround-positon:0 -45px;
  }
  .header {
    background: blue;
    background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg');
    background-size:cover;
    height:210px;
    border-radius:8px 8px 0 0;
    text-align:right;
    line-height:23em;
    color:#fff;
  }
  .header p {
    margin-right:55px;
    font-size:25px;
    text-shadow: 0px 2px 2px rgba(50, 50, 50, .6);
  }
  .middle {
    text-align:left;
    height:110px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(50,50,50,.50);
    line-height:.5em;
    margin-top:-15px;
    color:#9FA2B4;
  }
  .middle p {
    margin-left:199px;
  }
  .middle p span{
    color:#4C90AD;
  }
  .middleText {
    margin-top:10px;
    padding-top:5px;
  }
  ul {
    list-style:none;
    font-size:18px;
    margin:14px auto;
    margin-left:-10px;
  }
  li span {
    font-size:32px;
    display:block;
  }
  li {
    margin:0 20px;
    color:#5e5e5e;
    text-align:center;
    display:inline-block;
  }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="userBox">
      <div class="header">
        <p>{{!username}}</p>
      </div>
      <span class="userPic"></span>
      <div class="middle">
        <div class="middleText">
          <p>{{email}}</p>
          <p><span>facebook.com</span></p>
          <p>Compay name</p>
        </div>
      </div>
      <div class="footer">
        <ul>
          <li><span>243</span>Post</li>
          <li><span>1.2m</span>Followers</li>
          <li><span>62</span>Following</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>